<mat-toolbar color="primary" class="app-toolbar">
  <span class="brand">☁️ CloudGround</span>
  <nav class="nav-links">
    <a mat-button routerLink="/tasks" routerLinkActive="active-link">
      <mat-icon>task_alt</mat-icon> Tasks
    </a>
    <a mat-button routerLink="/gantt" routerLinkActive="active-link">
      <mat-icon>bar_chart</mat-icon> Gantt
    </a>
    <a mat-button routerLink="/persons/new" routerLinkActive="active-link">
      <mat-icon>person_add</mat-icon> New Person
    </a>
  </nav>
</mat-toolbar>

<main class="main">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</main>
